<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://jakarta.apache.org/log4j/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="project" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/nfsq_xs_log4j.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<!--<param name="threshold" value="debug" />-->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%p]  [%l] - %m%n" />
		</layout>
	</appender>

	<root>
		<level value="${logger.level}" />
		<appender-ref ref="project" />
	</root>

</log4j:configuration>