<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- project log file -->
    <appender name="projectAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>${logging.root}/nfsq_xs_log4j.log</File>
        <encoder>
            <Pattern>%date %-5level [%file:%line] %msg%n%ex</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.root}/log4j.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
    </appender>


    <root>
        <level value="${logger.level}" />
        <appender-ref ref="projectAppender" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>